lib/
node_modules/
/openhim-js.sublime-project
/openhim-js.sublime-workspace
.idea/**
packaging/.gnupg
packaging/.npm
packaging/builds/*
packaging/.gitconfig
packaging/.vagrant
\#*
*~
.#*
\#*\#
packaging/builds
.otto
*.log
.DS_Store
.vscode
.vagrant
artillery

coverage
.nyc_output
.data