name: Scan latest docker image

on: push

jobs:
  scan-images:
    runs-on: ubuntu-latest
    steps:
      - name: Run trivy vulnerability scanner for the OpenHIM core image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: jembi/openhim-core:latest
          format: 'sarif'
          output: 'trivy-results.sarif'
        
      - name: Upload Trivy scan results to Github Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
